@import "tailwindcss";
@import "./fonts.css";


:root {
    --color-primary: #592E83;
    --color-txt: #000;
    --dark-button: #0E161B;
    --open-sans-condensed: 'Open Sans Condensed', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --inter: 'Inter 18pt', sans-serif;
}

body {
    font-family: 'Inter 18pt', sans-serif;
    color: var(--color-txt);
    font-size: 1.2rem;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

main {
    position: relative;
    z-index: 1;
}

main.home::after {
    content: "";
    position: absolute;
    background: url("../assets/footer_bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.3;
    top: 55%;
    left: 0;
    width: 24%;
    box-shadow: inset -70px 0px 100px 70px rgba(255,255, 255, 1);
    height: 21%;
    z-index: -1;
}

main.home::before {
    content: "";
    position: absolute;
    background: url("../assets/bg_main.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
    top: 55%;
    left: 0;
    width: 20%;
    height: 21%;
    z-index: -1;
}

body::after {
    content: "";
    position: absolute;
    background: url("../assets/footer_bg.png");
    background-size: cover;
    bottom: 0;
    right: 0;
    width: 16%;
    box-shadow: inset 0px 50px 60px rgba(255,255, 255, 1);
    right: 0;
    width: 15%;
    height: 10%;
    z-index: -1;
}


body::before {
    content: "";
    position: absolute;
    background: url("../assets/footer_rect.png");
    background-size: cover;
    bottom: 0;
    width: 33%;
    height: 18%;
    right: 0;
    z-index: 0;
}


#subheader {
    position: relative;
    min-height: 100vh;
    background: url("../assets/bg.png") lightgray 50% / cover no-repeat;
    z-index: 0;
    display: flex;
}

#subheader::after {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(175, 155, 195, 1) 0.01%, #FFF 100%);
    opacity: 0.8;
    background-blend-mode: overlay;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#subheader::before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, transparent 0%, #FFF 100%);
    height: 300px;
    background-blend-mode: overlay;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: var(--color-txt);
}

.icon-media {
    transition: color 0.3s ease-in-out;
}

.icon-media:hover {
    color: var(--color-primary);
}

@theme {
    --color-primary: var(--color-primary);
  }

@utility container {
    padding: 0 1.25rem;
    @variant sm {
        max-width: 640px;
        margin: 0 auto;
    }
    @variant md {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 1.25rem;
    }
    @variant lg {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 1.25rem;
    }
    @variant xl {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 1.5rem;
    }
}

.cms {
    p {
        margin: 16px 0 ;
    }
}

.btn {
    font-family: var(--open-sans);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
}

.btn.secondary {
    box-shadow: 0px 4px 27px 0px #592E83;
    transition: all 0.3s ease-in-out;
    font-family: var(--open-sans);
    color: white;
}

.btn.secondary:hover {
    box-shadow: 0px 4px 27px 2px #592E83;
}

.cms h2,
.cms h3,
.cms h4 {
    @apply text-neutral-900 font-bold mb-2 mt-4;
}

.cms h2 {
    @apply text-2xl;
}

.cms h3 {
    @apply text-xl;
}

.cms h4 {
    @apply text-lg;
}

.cms p {
    @apply leading-relaxed;
}