@import "tailwindcss";

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('/fonts/open_sans/OpenSansCondensed-SemiBold.woff2') format('woff2'),
    url('/fonts/open_sans/OpenSansCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('/fonts/open_sans/OpenSansCondensed-ExtraBold.woff2') format('woff2'),
    url('/fonts/open_sans/OpenSansCondensed-ExtraBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('/fonts/open_sans/OpenSansCondensed-Bold.woff2') format('woff2'),
    url('/fonts/open_sans/OpenSansCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('/fonts/open_sans/OpenSansCondensed-Regular.woff2') format('woff2'),
    url('/fonts/open_sans/OpenSansCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/open_sans/OpenSans-SemiBold.woff2') format('woff2'),
        url('/fonts/open_sans/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/open_sans/OpenSans-Regular.woff2') format('woff2'),
        url('/fonts/open_sans/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/open_sans/OpenSans-Medium.woff2') format('woff2'),
        url('/fonts/open_sans/OpenSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/open_sans/OpenSans-Bold.woff2') format('woff2'),
        url('/fonts/open_sans/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('/fonts/inter/Inter18pt-Regular.woff2') format('woff2'),
    url('/fonts/inter/Inter18pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('/fonts/inter/Inter18pt-SemiBold.woff2') format('woff2'),
    url('/fonts/inter/Inter18pt-SemiBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('/fonts/inter/Inter18pt-ExtraBold.woff2') format('woff2'),
    url('/fonts/inter/Inter18pt-ExtraBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('/fonts/inter/Inter18pt-Bold.woff2') format('woff2'),
    url('/fonts/inter/Inter18pt-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


:root {
    --color-primary: #592E83;
    --color-txt: #000;
    --dark-button: #0E161B;
    --open-sans-condensed: 'Open Sans Condensed', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --inter: 'Inter 18pt', sans-serif;
}

body {
    font-family: 'Inter 18pt', sans-serif;
    color: var(--color-txt);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: var(--color-txt);
}

.icon-media {
    transition: color 0.3s ease-in-out;
}

.icon-media:hover {
    color: var(--color-primary);
}

@utility container {
    @variant xl {
        max-width: 1440px;
    }
}