@import "tailwindcss";
@import "./fonts.css";


:root {
    --color-primary: #592E83;
    --color-txt: #000;
    --dark-button: #0E161B;
    --open-sans-condensed: 'Open Sans Condensed', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --inter: 'Inter 18pt', sans-serif;
}

body {
    font-family: 'Inter 18pt', sans-serif;
    color: var(--color-txt);
    font-size: 1.2rem;
}

#subheader {
    position: relative;
    min-height: 100vh;
    background: url("../assets/bg.png") lightgray 50% / cover no-repeat;
    z-index: 0;
    display: flex;
}

#subheader::after {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(175, 155, 195, 1) 0.01%, #FFF 100%);
    opacity: 0.8;
    background-blend-mode: overlay;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#subheader::before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, transparent 0%, #FFF 100%);
    height: 300px;
    background-blend-mode: overlay;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: var(--color-txt);
}

.icon-media {
    transition: color 0.3s ease-in-out;
}

.icon-media:hover {
    color: var(--color-primary);
}

@utility container {
    @variant sm {
        max-width: 640px;
        margin: 0 auto;
    }
    @variant md {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 1.25rem;
    }
    @variant lg {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 1.25rem;
    }
    @variant xl {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 1.5rem;
    }
}

.cms {
    p {
        margin: 16px 0 ;
    }
}