@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

:root {
    --color-primary: #592E83;
    --color-txt: #000;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--color-txt);
}

h1, h2, h3, h4, h5, h6, li {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-txt);
}