@import "tailwindcss";
@import "./fonts.css";


:root {
    --color-primary: #592E83;
    --color-txt: #000;
    --dark-button: #0E161B;
    --open-sans-condensed: 'Open Sans Condensed', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --inter: 'Inter 18pt', sans-serif;
}

body {
    font-family: 'Inter 18pt', sans-serif;
    color: var(--color-txt);
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: var(--color-txt);
}

.icon-media {
    transition: color 0.3s ease-in-out;
}

.icon-media:hover {
    color: var(--color-primary);
}

@utility container {
    padding: 0 1rem;
    @variant sm {
        max-width: 640px;
        margin: 0 auto;
    }
    @variant md {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 1.25rem;
    }
    @variant lg {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 1.25rem;
    }
    @variant xl {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 1.5rem;
    }
}

.cms {
    p {
        margin: 16px 0 ;
    }
}