---
import Title from '../shared/title/Title.astro';
import Number from '../shared/number/Number.astro';
---

<div id="who-am-i">
    <div class="container">
        <div class="flex items-center justify-between">
            <Title text="Qui-suis-je" tag="h2" />

            <div class="numbers flex justify-between w-2/3">
                <Number number="26" text="Ans" />
                <Number number="7" text="Ans d'xp" />
                <Number number="509" suffixe="+" text="Litres de café ingérés" />
                <Number number="17" text="Années de BMX" />
            </div>
        </div>
    </div>
</div>