---
import Title from "@components/shared/title/Title.astro";
import { getAllUiFromLang } from "@i18n/utils";
import FormContact from "@components/contact/FormContact.vue";

interface Props {
  data: MD;
  locale?: "fr" | "en";
}

const { data, locale = "fr" } = Astro.props;

const { title } = data.frontmatter;

const Content = data.Content;

const translations = getAllUiFromLang(locale);
---

<div id="subheader">
  <div class="flex flex-col gap-4 z-10 container pt-[120px]">
    <Title text={title} tag="h1" />
    <div class="subheader cms">
      <Content />
    </div>
    <FormContact translations={translations} client:only="vue" />
  </div>
</div>

<style lang="scss">
  .blog-list {
    &::after {
      content: "";
      flex: auto;
    }
  }
</style>

<script>
  import("altcha");

  const form = document.getElementById("contact-form");
  const DISPATCHER_ENDPOINT = "https://contact.jonathanmourier.fr"; // Replace with your actual endpoint

  if (form) {
    form.addEventListener("submit", async function (event) {
      event.preventDefault();
      const formData = new FormData(form as HTMLFormElement);
      const data = Object.fromEntries(formData.entries());
      console.log(data);

      const res = await fetch(DISPATCHER_ENDPOINT, {
        method: "POST",
        body: JSON.stringify(data),
        headers: {
          "Content-Type": "application/json",
        },
      });

      // Here you can send the data to your server or API
    });
  }
</script>
