---
import logo from '../assets/logo.png';
import Github from '../assets/icons/github.svg';
import Gitlab from '../assets/icons/gitlab.svg';
import Linkedin from '../assets/icons/linkedin.svg';
---
<style lang="scss">
    header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 3;
    }
    .logo img {
      width: 300px;
    }

    nav ul li {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600
    }

</style>
<header>
    <div class="flex px-16 py-6 justify-between items-center">
        <a href="/" class="logo">
            <img src={logo.src} alt="Jonathan Mourier's logo"/>
        </a>

        <nav>
            <ul class="flex flex-end uppercase font-semibold text-md gap-7">
                <li><a href="/">Qui suis-je</a></li>
                <li><a href="/blog">Mon blog</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/cv"><Github /></a></li>
                <li><a href="/cv"><Gitlab /></a></li>
                <li><a href="/cv"><Linkedin /></a></li>
            </ul>
        </nav>
    </div>
</header>